@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}



@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poetsen+One&display=swap');


.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    overflow-x: hidden;
    background-color: black;
    margin: 0px;
}

a{
    color: black;
    text-decoration: none;
}

section.header{
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.login{
    margin-right: 23px;
   
    font-size: 1.2rem;
    width: 200px;
    height: 60px;
    border-radius: 10px;
background-color: white;
}
.oi{
    margin-top: 17px;
}

.txt1{
    margin-left: 5px;
   
    margin-bottom: -10px;
   align-items: center;
}

.txt{
    display: block;
    margin-top: -40px;
    margin-left: 150px;
}

.fotologin{
    margin-left: 104px;
  margin-top: -25px;
    width: 50px;
    height: 50px;
}

.search-box{
   margin-left: 27vw;
    width: 40vw;
    position: absolute;
    background-color: white;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.search-txt{
    font-size: 1.1rem;
    padding-left: 15px;
    border: none;
    background-color: none;
    outline: none;
}


.logo>img{
    width: 210px;
    height: 100px;
}

#bannerimg{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
}


div.wrapper{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

div.carros>img{
    width: 20vw;
    height: 50vh;
   border-radius: 20px;
}

div.motos>img{
    width: 20vw;
    height: 50vh;
    border-radius: 20px;
}

div.diversos>img{
    width: 20vw;
    height: 50vh;
   border-radius: 20px; 
}

div.wrapper-txt{
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Michroma';
}
div.wrapper-txt>p{
    width: 20vw;
}

.wrapper2{
    margin-top: 100px  ;
    display: flex;
    justify-content: space-evenly;
}
.oferta1>img{
    border-radius: 20px;
    width: 35vw;
}
.oferta2>img{
    border-radius: 20px;
    width: 35vw;
}

aside{
    margin-top: 133px;
    margin-bottom: 133px;
    display: flex;
    justify-content: space-evenly;
}

aside div{
    text-shadow: 1px 1px 1px black;
    font-size: 23px;
    align-content: center;
    text-align: center;
    width: 300px;
    height: 292px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-family: 'Michroma';
}

footer{
    
    margin-bottom: 20px;
    color: white;
}

footer p{
    line-height: 50px;
}

div.footer{
    
    display: flex;
    justify-content: space-evenly;
}

div.footer div{
    margin: 70px;
}

div.footer2{
    margin: 30px;
    display: flex;
    justify-content: space-between;
}
